.button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 58px;
    background-color: #6169d0;
    border: 2px solid #6169d0;
    color: #FFF;
    border: 0;
    border-radius: 20px;
    font-size: 1.2rem;
    margin: 10px;
    transition: all 0.5s ease;
  }

  .button:hover {
    background-color: transparent;
    border: 2px solid #6169d0;
    color: #FFF;
  }