.headLine {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  color: #DDD;
  background-color: #333C47;
}

.headLine h1 { font-size: 4rem; }

.headLine h2 { font-size: 2rem; }

.input { display: flex; }

.inputs input {
  width: 358px;
  height: 58px;
  border: 0;
  border-radius: 20px;
  margin: 10px;
  font-size: 3rem;
  text-align: center;
  background-color: #F1F3FA;
  color: #333C47;
}

.buttons {
  display: flex;
  justify-content: center;
}